@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Buttons */
  .btn.btn-blue {
    @apply bg-blue-600 text-white hover:bg-blue-800 hover:text-white;
  }
  .btn.btn-outline.btn-blue {
    @apply bg-transparent border border-blue-600 text-blue-600 hover:bg-blue-600 hover:text-white;
  }
  .btn.btn-red {
    @apply bg-red-600 text-white hover:bg-red-800 hover:text-white;
  }
  .btn.btn-outline.btn-red {
    @apply bg-transparent border border-red-600 text-red-600 hover:bg-red-600 hover:text-white;
  }
  .btn.btn-md {
    @apply !min-h-10 h-10;
  }

  /* Badges */
  .badge.badge-yellow {
    @apply inline-flex items-center rounded-md bg-yellow-50 px-2 py-1 text-xs font-medium text-yellow-800 ring-1 ring-inset ring-yellow-600/20;
  }
  .badge.badge-green {
    @apply inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20;
  }
  .badge.badge-orange {
    @apply inline-flex items-center rounded-md bg-orange-50 px-2 py-1 text-xs font-medium text-orange-700 ring-1 ring-inset ring-orange-600/20;
  }
  .badge.badge-gray {
    @apply inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10;
  }

  /* Tags */
  .tag {
    @apply inline-block bg-white rounded-md px-3 py-2 text-sm font-semibold text-gray-700 shadow-md border border-gray-200;
  }
}

/* AGGrid tables */
.ag-theme-quartz .ag-header {
  background-color: rgb(219 234 254);
}

.ag-theme-quartz .ag-cell {
  display: flex;
  align-items: center;
  height: 100%;
}
